$link-color-normal: #0d44a0 !default;
$link-color-hover: $link-color-normal !default;
$link-color-focus: $link-color-normal !default;
$link-color-active: #ff0000 !default;
$link-color-visited: $link-color-normal !default;
$link-border-opacity: 0.7 !default;

$lists-padding: 40px !default;

