$plugins-need-fancybox:               false !default;
$plugins-need-magnific-popup:         false !default;
$plugins-need-bootstrap-tabs:         false !default;
$plugins-need-afl:                    false !default;
$plugins-need-fotorama:               false !default;
$plugins-need-slick:                  false !default;
